body
{
	margin: 0;
	height: 100%;
/*	width: 1440px;
	height: 900px;*/
	background: #FFFFFF;
}



#info {
	position: absolute;
	width: 700px;
	height: 200px;
	left: 0px;
	top: 145px;
	background: #FFFFFF;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#restitle {
	position: absolute;
	width: 450;
	height: 49.03px;
	left: 24%;
	top: 10.86px;

	text-align: center;

	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 60px;

	color: #000000;
}

#desc {
	position: absolute;
	text-align: center;
	width: 652px;
	height: 85px;
	left: 31px;
	top: 75px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;

	color: #000000;
}

#tags {
	position: absolute;
	text-align: center;
	width: 558px;
	height: 75px;
	left: 85px;
	top: 150px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;

	color: #000000;
}

#item1 {
	position: absolute;
	width: 300px;
	height: 200px;
	left: 10%;
	top: 65%;

	background: #FFFFFF;
	border: 1px solid #E3DFDF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#title1 {
	position: absolute;
	width: 291px;
	height: 50px;
	left: 0px;
	top: 10px;

	text-align: center;
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 48px;

	color: #000000;

}

#title2 {
	position: absolute;
	width: 291px;
	height: 50px;
	left: 0px;
	top: 10px;

	text-align: center;
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 48px;

	color: #000000;
	
}

#title3 {
	position: absolute;
	width: 291px;
	height: 50px;
	left: 0px;
	top: 10px;

	text-align: center;
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 48px;

	color: #000000;
	
}

#desc1 {
	position: absolute;
	width: 291px;
	height: 50px;
	left: 0px;
	top: 60px;

	text-align: center;
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

	color: #000000;
}

#desc2 {
	position: absolute;
	width: 291px;
	height: 50px;
	left: 0px;
	top: 60px;

	text-align: center;
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

	color: #000000;
	
}

#desc3 {
	position: absolute;
	width: 291px;
	height: 50px;
	left: 0px;
	top: 60px;

	text-align: center;
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

	color: #000000;

	
}

#price1{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 38%;
	top: 130px;

	/*text-align: center;*/
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 48px;

	color: #000000;
}

#price2{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 38%;
	top: 130px;

	/*text-align: center;*/
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 48px;

	color: #000000;
}

#price3{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 38%;
	top: 100px;

	/*text-align: center;*/
	font-family: Switzera ADF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 48px;

	color: #000000;
}

#item2 {
	position: absolute;
	width: 300px;
	height: 200px;
	left: 40%;
	top: 65%;

	background: #FFFFFF;
	border: 1px solid #E3DFDF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#item3 {
	position: absolute;
	width: 300px;
	height: 200px;
	left: 70%;
	top: 65%;

	background: #FFFFFF;
	border: 1px solid #E3DFDF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo {
	position: absolute;
	width: 367px;
	height: 113px;
	left: 536px;
	top: 0px;
}

#cart{
	position: absolute;
	width: 67px;
	height: 67px;
	left: 93%;
	top: 23px;
}

#dumpling {
	position: absolute;
	width: 100%;
	height: 422px;
	left: 0px;
	top: 106px;
	object-fit: cover;
}

#botrect {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0px;
	top: 90.5%;
	 
	background: #0563fa;
}


#level {
	position: absolute;
	width: 220px;
	height: 51px;
	left: 620px;
	top: 15%;
	 
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	 
	color: #FFFFFF;
}

#miles {
	position: absolute;
	width: 231px;
	height: 51px;
	left: 23px;
	top: 15%;
	 
	 
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	 
	 
	color: #FFFFFF;
}

#credit {
	position: absolute;
	width: 200px;
	height: 51px;
	left: 85%;
	top: 15%;
	 
	 
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	 
	 
	color: #FFFFFF;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;


	opacity: 0.2;
}
