body
{
	margin: 0;
	height: 100%;
	background-color: #ffffff;
}

#pagewrap{
	width: 100%;
	height: 100%;
}

#logo {
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;

	/*hc*/
	width: 20%;
	height: 10%;
	top:20%;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;

	/*opacity: 0.8;
	opacity: 0.4;*/
	opacity: 0.5;
}
#gaugeid{
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	color: green;
	height:10%;
	font-size: 25px;
	margin-top: 1%;
	/*font-family: 'Montserrat';*/
	font-size: 25;
	font-weight:normal;
	color:#48586b;
}

#gaugescore{
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	color: green;
	margin-top: 4px;
	font-size: 25px;
}

#gaugewrapper{
	position: absolute;
	width:100%;
	height:100%;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	box-shadow: 1px 4px 7px 2px rgba(0,0,0,0.4);
	background-color: white;


	overflow: hidden;
}

#gauge{
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
    position:flex;
	height:80%;


}

#columnchart_material{
	width: 100%;
	height:100%;
	position: absolute;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	box-shadow: 1px 4px 7px 2px rgba(0,0,0,0.4);
	background-color: white;
}

#columnchart_material{
	width: 100%;
	height:100%;
	padding:10px;
	position: absolute;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	box-shadow: 1px 4px 7px 2px rgba(0,0,0,0.4);
	background-color: white;



}

#linechart_material{
	width: 100%;
	height:100%;
	padding:10px;
	position: absolute;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	box-shadow: 1px 4px 7px 2px rgba(0,0,0,0.4);
	background-color: white;

}

#bottom{
	height: 100px;
}

#pointslabel {
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	color: green;
	height:10%;
	font-size: 20px;
	margin-top: 10%;
	/*font-family: 'Montserrat';*/
	font-size: 25;
	font-weight:normal;
	color:#48586b;
}

#mathlabel {
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	color: green;
	height:10%;
	font-size: 20px;
	margin-top: 20%;
	/*font-family: 'Montserrat';*/
	font-size: 25;
	font-weight:normal;
	color:#48586b;
}

#progressbar {
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
  	width: 85%;
  	height: 30px;
  	margin-top: 10%;
  	position: relative;
}