body
{
	margin: 0;
	height: 100%;
	background: #FFFFFF;
	font-family: Montserrat;
}

#pagewrap{
	width: 100%;
	height: 100%;
}

#logo {
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;

	/*hc*/
	width: 367px;
	height: 113px;
	top:20%;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;

	/*opacity: 0.8;
	opacity: 0.4;*/
	opacity: 0.5;
}

#rewardwrapper {

	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
    display:block;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color:white;
    color: white;
    width: 600px;
    height: 300px;
    padding: 20px;
}

.roww {
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
    display:flex;
	flex-direction: row;
	justify-content: center;
    height: 400px;

}

#rewardlabel{

	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	color: #757575;
	height:10%;
	font-size: 20px;
	margin-top: 25px;
	/*font-family: 'Montserrat';*/
	font-size: 25px;
	font-weight:normal;
}

#rewards{
	display: inline;
	position: relative;
}

#mathlabel {

	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;
	color: green;
	height:10%;
	font-size: 20px;
	margin-top: 6px;
	/*font-family: 'Montserrat';*/
	font-size: 25;
	font-weight:normal;
	color:#cacaca;
}

#progressbar {
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
  	width: 85%;
  	height: 60px;
  	margin-top: 40px;
  	margin-bottom: 20px;
  	position: relative;
}


.points{

	font-style: normal;
	font-weight: normal;
	font-size: 40px;
}

.giftcard {
	position: relative;

	box-shadow: 1px 4px 7px 2px rgba(0,0,0,0.1);
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	border: 1px solid #e0e0e0;
	width: 250px;
	height: 320px;
}

#bottom{
	height: 100px;
}

.giftpic {
	position: relative;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	display:block;

	/*hc*/
	width: 150px;
	height: 150px;
	margin-top: 10px;
}

.giftname{
	position: relative;

	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin-top: 10px;
}

.giftbtn { 
	position: relative;

	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background: #7bafdb;
	/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);*/
	border: 1px solid white;
	border-radius: 30px;
	margin-top: 10px;
	font-size: 25px;
	width: 150px;
	height: 50px;
	outline: hidden;
}

.giftbtn:active {
    outline: none;
    border: none;
}

.giftbtn:focus {outline:0;}