/*bootstrap*/
.wrapper {
    display: flex;
    width: 100%;
    background-color: white;
    
}

#logo {
    position: relative;
    left: 50%;
    text-align:center;
    transform: translateX(-50%);
    display:block;

    /*hc*/
    width: 367px;
    height: 113px;
    top:20%;
}

#pagewrap{
    margin-left: 250px;
    width: 100%;
    height: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}*/

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*fixed*/
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #38b7ff;
    color: #fff;
    transition: all 0.3s;
}

/*scrolling*/
/*#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}*/

#sidebar .sidebar-header {
    padding: 10px;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #38b6ff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    color: #FFFFFF;
    display: block;
}
#sidebar ul li a:hover {
    /*color: #7386D5;*/
    color: #38b6ff;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /background: #6d7fcc;/
    background: : #2c95f2;
}