body
{
	margin: 0;
	height: 100%;
	background: #FFFFFF;
}

#orderto {
	position: absolute;
	width: 350px;
	height: 58px;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	top: 70%;
	 
	 
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 56px;
	color: #FFFFFF;
	background: #D61F27;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

#imto {
	position: absolute;
	width: 350px;
	height: 58px;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	top: 83%;
	 
	 
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 56px;
	color: #FFFFFF;
	background: #D61F27;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

#ffn {
	position: absolute;
	width: 350px;
	height: 40px;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	top: 59%;
	border: 3px solid #004A9D;
	 
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 56px;
	color: #576b82;
	text-align: center;
}

#logo {
	position: absolute;
	width: 367px;
	height: 113px;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);
	top: 10%;
}

#welcome {
	position: absolute;
	width: 1200px;
	height: 127px;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);

	top: 25%;
	/*text-align:center;*/
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 112px;
	 
	 
	color: #004A9D;
}

#orderat {
	position: absolute;
	width: 900px;
	height: 127px;
	left: 50%;
    text-align:center;
    transform: translateX(-50%);


	top: 38%;
	font-family: "Switzera ADF";
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 112px;
	 
	 
	color: #576b82;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;


	opacity: 0.11;
}
